<header>
  <section class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <ul class="top-bar__socical-list">
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-behance"></i></a>
            </li>
          </ul>
        </div>

        <!-- <div class="col">
          <div class="top-bar__search">
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
        </div> -->

        <div class="col-auto">
          <div class="top-bar__links">
            <a href="#">register</a>
            <span>/</span>
            <a href="#">login</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="top-nav">
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <img
            src="https://i.imgur.com/7c7ayi8.png"
            alt=""
            class="top-nav__logo"
          />
        </div>

        <div class="col-auto">
          <ul class="top-nav__menu">
            <li><a href="">HOME</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">CONTACT</a></li>
          </ul>
        </div>

        <div class="col-auto">
          <a href="#">
            <div class="top-nav__cart">
              <div class="top-nav__cart--icon">
                <i class="fad fa-shopping-cart"></i>
              </div>

              <div class="top-nav__cart--info">
                <p>
                  Shopping Cart
                  <span>0 items - $0.00</span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
