<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-20 mb-xs-20">
        <div class="newsletter__title">
          <h2>
            <span class="mr-2"><i class="fad fa-envelope-open-text"></i></span>
            Send Newsletter
          </h2>
        </div>
      </div>

      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="newsletter__subscribe">
          <p class="mb-xs-20">
            Sign up for our newsletter to get up-to-date from us
          </p>
          <div class="newsletter__subscribe--form">
            <form
              action=""
              id="newsletter-form"
              class="newsletter-form subscribe-form"
            >
              <input
                type="email"
                id="newsletter-email"
                autocomplete="off"
                placeholder="Your email address"
                name="email"
              />
              <button id="newsletter-submit" type="submit">subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
