<section class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="navigation__social-media">
          <h2>Follow us</h2>
          <div class="navigation__socical-media--links">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>

            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>

            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>

            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>

            <a href="#"><i class="fab fa-behance fa-2x"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="navigation__contact">
          <h2>Contact us</h2>
          <div class="navigation__contact--info">
            <div class="address">
              <div class="icon">
                <i class="fad fa-map-marker-alt fa-3x"></i>
              </div>
              <div class="info">
                <p>
                  Address:
                  <span>27 Che Viet Tan, Da Nang, Vietnam</span>
                </p>
              </div>
            </div>
            <div class="phone">
              <div class="icon">
                <i class="fad fa-mobile fa-3x"></i>
              </div>
              <div class="info">
                <p>
                  Phone:
                  <span>(+84) 344063164</span>
                </p>
              </div>
            </div>
            <div class="email">
              <div class="icon">
                <i class="fad fa-envelope-open-text fa-3x"></i>
              </div>
              <div class="info">
                <p>
                  Email:
                  <span>contact@flowershop.com</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
