<section class="top-categories">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-categories__title">
          <h3>Top Categories</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="top-categories__container">
          <button type="button" class="slick-prev slick-arrow">
            <i class="fad fa-caret-circle-left"></i>
          </button>

          <div class="d-flex">
            <div class="top-categories__item">
              <div class="top-categories__item--image">
                <a href="#" title="">
                  <img
                    src="https://template.hasthemes.com/greenfarm/greenfarm/assets/images/categories/category1.webp"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>

              <div class="top-categories__item--title">
                <a href="#">Category</a>
              </div>
            </div>

            <div class="top-categories__item">
              <div class="top-categories__item--image">
                <a href="#" title="">
                  <img
                    src="https://template.hasthemes.com/greenfarm/greenfarm/assets/images/categories/category1.webp"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>

              <div class="top-categories__item--title">
                <a href="#">Category</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
