<section class="copyright">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center text-md-start"
      >
        <div class="copyright__line">
          <p>
            <a href="#">Privacy Policy</a>
            <span class="separator">|</span>
            <a href="#">Term and conditions</a>
          </p>
          <p>© 2022 <a href="/">Flower Shop</a>. All Rights Reserved</p>
        </div>
      </div>

      <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
        <div class="copyright__payment-accepted">
          <span class="copyright__payment-accepted--text">Payment method</span>
          <img
            src="assets/images/visa_light.svg"
            class="copyright__payment-accepted--icon"
            alt=""
          />
          <img
            src="assets/images/mastercard_light.svg"
            class="copyright__payment-accepted--icon"
            alt=""
          />
          <img
            src="assets/images/diners_light.svg"
            class="copyright__payment-accepted--icon"
            alt=""
          />
          <img
            src="assets/images/discover_light.svg"
            class="copyright__payment-accepted--icon"
            alt=""
          />
          <img
            src="assets/images/paypal_light.svg"
            class="copyright__payment-accepted--icon"
            alt=""
          />
          <img
            src="assets/images/zalopay_light.svg"
            class="copyright__payment-accepted--icon"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
